@use "../../Components/GlobalStyle/globalStyle" as *;

.livrosDoadosSection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: $h2-font-size;
  }
}

.containerCards {
  width: 95%;
  height: 60vh;

  section {
    border: solid 3px $primary-color;
    border-radius: 20px;
    width: 18%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
      text-align: center;
    }
  }
}

@media (max-width: 780px) {
  .containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      width: 60%;
    }
  }
}
